  <footer id="footer" class="container">
    <div class="row">
      <div class="column column-50 column-offset-25 responsive">
        <p>
          <a href="mailto:contact@datfic.net">contact@datfic.net</a>
          <!-- <em>Data is not about facts. It is all about writing.</em>
          <br>
          <small>
            -
            <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
            -
            2016
          </small> -->
        </p>
      </div>
    </div>
  </footer>
</body>
