  <footer id="footer" >
    <div class="container">
      <div class="row">
        <div class="column column-50 column-offset-25">

            <p>
              <b>Data Fictions</b>
              <br>
              <em>Data is not about facts. It is all about writing.</em>
            </p>
            <hr>
            {% include newsletter_form.html %}
            <hr>

            <p>
              <a href="mailto:contact@datfic.net">contact@datfic.net</a>
              <br>
              <small>
                <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
                - 2016
              </small>
            </p>
        </div>
      </div>
    </div>
  </footer>
</body>
