<head>
  <title>Datfic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <!-- <link rel="stylesheet" href="/scss/lib/normalize.css"> -->

  <link rel="stylesheet" href="/scss/lib/milligram.css">
  <link rel="stylesheet" href="/scss/main.css">
</head>
<body id="{{ page.id }}">
