<form style="padding:3px;text-align:center;" action="https://tinyletter.com/datfic" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/datfic', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

  <p><label for="tlemail">Subscribe to Datfic newsletter</label></p>
  <p>Imaginary worlds, folkloric languages, and disputed territories: this newsletter offers real and fictional data about what happen when machines meet writings.</p>
  <p><input type="text" style="width:140px" name="email" id="tlemail" /></p>
  <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
  <!--	<p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p> -->
</form>
