@import "param";

main {
  .intro {
    background: black;
    + .next {
      background: linear-gradient(to bottom, black, transparent);
    }

    .box {
      @include width(1);
      @include box();
    }

    .container {
      @include width(10);
      @include box();

      h1 {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        opacity: 0;
        transition: opacity 3s ease-in-out;
        opacity: 1;
        padding-left: 180px;
      }
      .subtitle {
        @include container();
        position: absolute;
        bottom: 0;
        right: 0;

        color: #000;
        text-shadow: 0 4px 8.896px #002,0 -2px 1px #fff;

        .subtitle-offset {
          @include width(2);
        }
        h2 {
          @include width(10);
          margin: 0;
          font-size: 3em;
        }
      }
    }
  }
}
